<!DOCTYPE html>
<html>
    <head>
        <title>Todo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script>
            var app = angular.module('myapp', []);
            app.controller('mycontroller', function ($scope) {
                $scope.tasks = [];
                $scope.add = function () {
                    $scope.tasks.push($scope.title);
                    $scope.title = "";
                }
                
            });
        </script>
    </head>
    <body ng-app="myapp" ng-controller="mycontroller">
        <input type="text" ng-model="title">
        <button ng-click="add()">Add</button>
        <ul>
            <li ng-repeat="i in tasks">{{i}}</li>
        </ul>
    </body>
</html>